@model Tabemory.Models.Record;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    DotNetEnv.Env.Load(".env");
    var key = DotNetEnv.Env.GetString("MAPBOX_API_KEY");
}

@if (Model.UserId != loginUserId)
{
    <h1 class="text-danger">アクセス権がありません。</h1>
} else
{
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <p>@Html.DisplayFor(model => model.Station_name)</p>
    <form method="post" asp-action="Delete" onSubmit="return check()">
        <input type="hidden" name="value" value="@Model.RecordId" />
        <input type="submit" value="削除" class="btn btn-primary" />
    </form>
}

<script>
    function check() {
        if (window.confirm('このレストランを削除しますか？')) {
            return true;
        } else {
            window.alert('キャンセルしました。')
            return false;
        }
    }
</script>