
@{
}

<h1>this is index page for records</h1>

<div class="alert alert-success alert-dismissable fade show m-1" role="alert">
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong> Success!</strong> @TempData["AlertMessage"]
</div>