@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <h1 class="title">
        <span>Tabemory</span>
    </h1>
</div>


<style>
    html, body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url(../images/terrace.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        
    }

</style>